@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@plugin "tailwindcss-primeui";

html,
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(
    rgb(47, 53, 61) 0%,
    rgb(53, 60, 67) 20%,
    rgba(0, 0, 0, 0)
  );
  background-attachment: fixed;
}
